<!-- For the homepage, the blog partial is used to render the existing blog data -->
{{!-- This is the main home page where user can see the existing blogs, but cannot
yet leave a comment until he or she logs in. --}}
{{#if loggedIn}}
<div>
  {{#each posts as |post|}}
<div class="title-div">
  <h1>{{title}}</h1>
</div>
<br>
<br>
<div class="description-div">
  <h2>{{description}}</h2>
</div>
  {{/each}}
</div>
{{else}}
<a href="/login">You must log in first to leave a comment!</a>
{{/if}}
<script src="../../Assets/addnewBlog.js"></script>
