:root {
    --header-bg-color:#e5e5e5;
    --main-text-color: #0080ff;
     
}

body,
.card-body {
    background-color: #e3dac9;
}

header {
    background-color: var(--header-bg-color);
    color: var(--main-text-color);
    height: 5vh;
    width: 100%;
}

nav>ul {
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
}

nav>ul>li {
    display: inline;
}

.hidden {
    display: none;
}

.card {
    border: 3px solid gray;
}

.card-header {
    background-color: var(--header-bg-color);
}

.myCardHeaderText {
    color: var(--main-text-color);
    display: inline-block;
}

.main {
    text-align: center;
}

#newPost {
    position: absolute;
    width: 100%;
    bottom: 15;
}

#myBtn {
    background-color: var(--header-bg-color);
    color: var(--main-text-color);
    font-size: 12px;
    font-weight: bold;
    border-radius: 24px;
    height: 50px;
    width: 50px;

}

@media screen and (max-width: 992px) {
    .align-items-center {
        background-color: #0B2632;
    }
    .px-2 {
        color: white;
    }
    .body {
        background-color: #252627;
    }
}